Repository nathant30/ARCHIVED_xpress-ops-tower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(payments): implement comprehensive payment management UI with GCash/PayMaya integration
  src/app/api/payments/gcash/initiate/route.ts
  src/app/api/payments/methods/route.ts
  src/app/api/payments/paymaya/initiate/route.ts
  src/app/api/payments/reconciliation/route.ts
  src/app/api/payments/refunds/route.ts
  src/app/api/payments/transactions/route.ts
  src/app/payments/methods/page.tsx
  src/app/payments/page.tsx
  src/app/payments/reconciliation/page.tsx
  src/app/payments/refunds/page.tsx
  src/app/payments/transactions/page.tsx
  src/components/payments/AddPaymentMethodModal.tsx
  src/components/payments/GCashIntegration.tsx
  src/components/payments/PayMayaIntegration.tsx
  src/components/payments/PaymentMethodCard.tsx
  src/components/payments/ReconciliationSummaryCard.tsx
  src/components/payments/RefundRequestForm.tsx
  src/components/payments/RefundStatusTracker.tsx
  src/components/payments/TransactionDetailsModal.tsx
  src/components/payments/TransactionFilters.tsx
  src/components/payments/TransactionTable.tsx
  src/components/ui/modal.tsx
  src/types/payment.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(earnings): implement comprehensive driver earnings and payout UI
  src/app/api/earnings/breakdown/route.ts
  src/app/api/earnings/chart/route.ts
  src/app/api/earnings/deductions/[id]/dispute/route.ts
  src/app/api/earnings/deductions/route.ts
  src/app/api/earnings/drivers/[driverId]/route.ts
  src/app/api/earnings/payouts/[id]/dispute/route.ts
  src/app/api/earnings/payouts/[id]/route.ts
  src/app/api/earnings/payouts/route.ts
  src/app/api/earnings/summary/route.ts
  src/app/api/settlements/[id]/dispute/route.ts
  src/app/api/settlements/[id]/route.ts
  src/app/api/settlements/route.ts
  src/app/earnings/breakdown/page.tsx
  src/app/earnings/deductions/page.tsx
  src/app/earnings/drivers/[id]/page.tsx
  src/app/earnings/page.tsx
  src/app/earnings/payouts/page.tsx
  src/app/earnings/settlements/page.tsx
  src/components/earnings/DeductionsTable.tsx
  src/components/earnings/DisputeForm.tsx
  src/components/earnings/EarningsBreakdownCard.tsx
  src/components/earnings/EarningsKPICard.tsx
  src/components/earnings/EarningsTrendChart.tsx
  src/components/earnings/PayoutHistoryTable.tsx
  src/components/earnings/PayoutStatusBadge.tsx
  src/components/earnings/SettlementRecordTable.tsx
  src/components/earnings/SettlementStatusBadge.tsx
  src/components/earnings/index.ts
  src/components/earnings/types.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(billing): implement comprehensive B2B corporate billing system UI
  src/app/api/billing/accounts/route.ts
  src/app/api/billing/dashboard/kpis/route.ts
  src/app/api/billing/invoices/route.ts
  src/app/billing/accounts/[id]/page.tsx
  src/app/billing/accounts/page.tsx
  src/app/billing/invoices/[id]/page.tsx
  src/app/billing/invoices/create/page.tsx
  src/app/billing/invoices/page.tsx
  src/app/billing/page.tsx
  src/app/billing/payment-terms/page.tsx
  src/app/billing/reconciliation/page.tsx
  src/components/billing/AccountStatusBadge.tsx
  src/components/billing/BillingKPICard.tsx
  src/components/billing/CreditLimitIndicator.tsx
  src/components/billing/InvoiceStatusBadge.tsx
  src/types/billing.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(testing): add integration verification and monitoring setup
  __tests__/e2e/auth-flow.spec.ts
  __tests__/e2e/global-setup.ts
  __tests__/integration/map-features.spec.ts
  __tests__/integration/real-time-pipeline.spec.ts
  __tests__/load/real-time-load-test.js
  docs/PERFORMANCE-BASELINE.md
  docs/TEST-EXECUTION-GUIDE.md
  monitoring/MONITORING-SETUP.md
  monitoring/alert-rules.yaml
  monitoring/grafana-dashboards/backend-dashboard.json
  monitoring/grafana-dashboards/frontend-dashboard.json
  monitoring/grafana-dashboards/real-time-dashboard.json
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

feat(ui): add 5 high-priority operational UIs
  BILLING-PAGES-COMPLETE.md
  BILLING-VERIFICATION.md
  src/app/analytics/page.tsx
  src/app/command-center/page.tsx
  src/app/finance/ledger/page.tsx
  src/app/finance/page.tsx
  src/app/finance/reports/page.tsx
  src/app/fleet/add-vehicle/page.tsx
  src/app/fleet/page.tsx
  src/app/fleet/vehicles/[id]/page.tsx
  src/app/fleet/vehicles/page.tsx
  src/app/ground-ops/depot/[id]/page.tsx
  src/app/ground-ops/page.tsx
  src/app/ground-ops/roll-call/page.tsx
  src/app/maintenance/page.tsx
  src/app/safety/page.tsx
  src/lib/api-client.ts
  src/lib/featureFlags.ts
  src/stores/commandCenterStore.ts
  src/stores/groundOpsStore.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(ui): add Incidents and Shifts management UIs
  src/app/incidents/[id]/page.tsx
  src/app/incidents/close/[id]/page.tsx
  src/app/incidents/page.tsx
  src/app/shifts/[id]/page.tsx
  src/app/shifts/create/page.tsx
  src/app/shifts/page.tsx
  src/stores/incidentsStore.ts
  src/stores/shiftsStore.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

fix(eslint): disable indent rule to prevent stack overflow on nested JSX
  .eslintrc.json
Due: prettier --write

fix(husky): make XPRESS compliance check non-blocking in pre-commit hook
  .husky/pre-commit
Due: none

feat(ui): complete Phase 3 UI modules - 100% frontend coverage
  src/app/bonds/page.tsx
  src/app/customer-promos/page.tsx
  src/app/dashcam/page.tsx
  src/app/driver-incentives/page.tsx
  src/app/identity-verification/page.tsx
  src/app/identity-verification/review/[id]/page.tsx
  src/app/trust-score/page.tsx
  src/lib/featureFlags.ts
Due: eslint --fix, prettier --write, npm run test:unit -- --findRelatedTests --passWithNoTests

feat(docker): add Next.js standalone Dockerfile for production deployment
  Dockerfile
Due: none

fix(docker): ensure public directory exists for standalone build
  Dockerfile
Due: none

fix(ci): add JWT secrets to Docker build for production
  .github/workflows/deploy.yml
  Dockerfile
Due: prettier --write

fix(ci): add JWT_SECRET for production build
  .github/workflows/deploy.yml
  Dockerfile
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  npm run test:unit -- --findRelatedTests --passWithNoTests: any of: src/**/*.{js,jsx,ts,tsx}
